/*
 *= require font-awesome
 */
@import "bootstrap-custom";
.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
}
.btn-default {
  border: solid 1px #AAA;
}
.right {
  text-align: right;
}
ul {
  border-radius: 8px;
  border: solid 4px #AAA;
  background-color: #FFF;
}
.screen {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  color: #000;
  background-color: #DDD;
}
.debug {
  color: #FFF;
  border: solid 2px #AAA;
  background-color: #AAA;
}
.status {
  background-color: #FFF;
  border-bottom: solid 2px #AAA;
}
.bold {
  font-weight: bold;
}
.shadow {
  color: #000;
  text-shadow: 0 0 4px #AAA;
}
input {
  color: #000;
  background-color: transparent;
}
textarea.form-control {
  color: #000;
  background-color: #FFF;
  border: solid 4px #AAA;
  border-radius: 8px;
  height: 100%;
  min-height: 100%;
  letter-spacing: .125em; 
  font-size: 160%;
  padding: .5em;
}
.middle {
  display: table;
}
.middle-c {
  font-weight: bold;
  font-size: 128%;
  display: table-cell;
  vertical-align: middle;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container-fluid{
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  z-index: 90;
}
* {
  font-family: 'Trebuchet MS', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo;
  border:solid 0px;
  overflow-x: auto;
}
textarea {
  font-family: "Source Code Pro", "Liberation Mono", Consolas, Courier, monospace, sans-serif;
  font-size: 192%;
}
.float-l {float: left;}
.clear-l {clear: left;}
.inline-block {vertical-align: bottom;display: inline-block;}
.block    {display: block}
.absolute {position: absolute;}
.fixed    {position: fixed;}
.relative {position: relative;}
.middle   {top: 50%;}
.bold {font-weight: bold;}
.f-512 {font-size: 512%;}
.f-480 {font-size: 480%;}
.f-320 {font-size: 320%;}
.f-256 {font-size: 256%;}
.f-192 {font-size: 192%;}
.f-160 {font-size: 160%;}
.f-144 {font-size: 144%;}
.f-128 {font-size: 128%;}
.f-100 {font-size: 100%;}
.p-1em {padding: 1em;}
.p-l-2em {padding-left: 2em;}
.p-l-1em {padding-left: 1em;}
.p-lr-1em {padding-right: 1em; padding-left: 1em;}
.m-l-1em {margin-left: 1em;}
.p-d5em {padding: .5em;}
.p-2p {padding: 2%;}
.p-tb-2p {padding-bottom: 2%; padding-top: 2%;}
.p-tb-1p {padding-bottom: 1%; padding-top: 1%;}
.p-r-1em {padding-right: 1em;}
.h-10 {height: 10%;}
.h-20 {height: 20%;}
.h-30 {height: 30%;}
.h-50 {height: 50%;}
.h-70 {height: 70%;}
.h-90 {height: 90%;}
.h-100 {height: 100%;}
.w-100 {width: 100%;}
.w-50 {width: 50%;}
