/*
 *= require font-awesome
 */
@import "bootstrap-custom";
.btn {
  padding: 0;
  border: solid 1px #AAA;
}
.btn-group-justified {
  border-top: solid 1px #333;
}
.middle {
  display: table;
}
.middle-c {
  display: table-cell;
  vertical-align: middle;
}
body {
  background-color: #DDD;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #DDD;
  color: #000;
  z-index: 90;
}
* {
  font-family: 'Trebuchet MS', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo;
  border:solid 0px;
  overflow-x: auto;
}
textarea {
  font-family: "Source Code Pro", "Liberation Mono", Consolas, Courier, monospace, sans-serif;
  font-size: 192%;
}
.float-l {float: left;}
.clear-l {clear: left;}
.inline-block {vertical-align: bottom;display: inline-block;}
.block    {display: block}
.absolute {position: absolute;}
.fixed    {position: fixed;}
.relative {position: relative;}
.middle   {top: 50%;}
.bold {font-weight: bold;}
.f-512 {font-size: 512%;}
.f-480 {font-size: 480%;}
.f-320 {font-size: 320%;}
.f-256 {font-size: 256%;}
.f-192 {font-size: 192%;}
.f-160 {font-size: 160%;}
.f-144 {font-size: 144%;}
.f-128 {font-size: 128%;}
.f-100 {font-size: 100%;}
.p-1em {padding: 1em;}
.h-10 {height: 10%;}
.h-20 {height: 20%;}
.h-30 {height: 30%;}
.h-50 {height: 50%;}
.h-60 {height: 60%;}
.h-70 {height: 70%;}
.h-75 {height: 75%;}
.h-80 {height: 80%;}
.h-92 {height: 100%;}
.h-100 {height: 100%;}
.w-100 {width: 100%;}
.w-80  {width: 80%;}
.w-50  {width: 50%;}
.w-42  {width: 42%;}
.w-40  {width: 40%;}
.w-30  {width: 30%;}
.w-32  {width: 32%;}
.w-20  {width: 20%;}
.w-16  {width: 16%;}
