* {
  font-family:  'Trebuchet MS','Helvetica', 'Hiragino Kaku Gothic Pro', Meiryo;
  line-height: 172%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  word-break: break-all;
  word-wrap: break-word;

}
html, body {
  width: 100%;
  height: 100%;
}
