* {
  font-family:  'Trebuchet MS','Helvetica', 'Hiragino Kaku Gothic Pro', Meiryo;
  line-height: 172%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  word-break: break-all;
  word-wrap: break-word;
}
.expand {
  width: 100%;
  height: 100%;
}
.flex {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;

  .flex-body {
    -webkit-order: 2;
    order: 2;
    width: 84%;
    height: 100%;

    div.textarea-container {
      display: table;
      width: 100%;
      height: 50%;

      div {
        display: table-cell;
        vertical-align: middle;

        textarea {
          width: 90%;
          height: 80%;
          padding: .25em;
          margin: 0 auto;
          border: solid 2px #555;
          border-radius: .25em;
          font-family: "Source Code Pro", "Liberation Mono", Consolas, Courier, monospace, sans-serif;
          white-space: pre;
        }
        textarea#char {
          font-size: 272%;
          letter-spacing: .125em;
        }
        textarea#code {
          font-weight: bold;
          font-size: 176%;
          letter-spacing: -.0625em;
        }
      }
    }
  }
  .flex-menu {
    -webkit-order: 1;
    order: 1;
    width: 16%;
    height: 100%;

    .flex-menu-4 {
      height: 100%;

      button {
        width: 100%;
        height: 25%;
        border: none;
        background-color: #FFF;

        div {
          display: table;
          width: 64%;
          height: 64%;
          margin: 0 auto;
          background-color: #579;
          color: #FFF;
          border-radius: 1em;
          border: solid 3px #AAA;

          span {
            display: table-cell;
            vertical-align: middle;
            text-transform: uppercase;
            text-shadow: 0 0 .125em #000, 0 0 .25em rgba(0, 0, 0, 0.75);
            font-size: 144%;
            letter-spacing: .125em;
            font-weight: bold;
          }
        }
      }
      button:active {
        div {
          background-color: #89E;
        }
      }
      button#pro {
        div {
          background-color: #CCC;
        }
      }
    }
  }
}
@media screen and (max-aspect-ratio: 4/3) {
  .flex {
    -webkit-flex-direction: column;
    flex-direction: column;

    .flex-body {
      -webkit-order: 1;
      order: 1;
      width: 100%;
      height: 76%;
    }
    .flex-menu {
      -webkit-order: 2;
      order: 2;
      width: 100%;
      height: 24%;

      .flex-menu-4 {
        button {
          height: 100%;
          width: 25%;

          div {
            width: 86%;
          }
        }
      }
    }
  }
}
